---
layout: default
---

<div class="ctf-cat-bar">
    <div data-augmented-ui="tl-clip br-clip both" class="aui-theme-btn ctf-cat-btn white-text" onclick="location.href='{{ site.url }}/{{ site.ctf_dir }}/{{ page.parent }}/'">◀</div>
    <div data-augmented-ui="tl-clip br-clip both" class="aui-theme-btn ctf-cat-btn white-text" onclick="openModal()">{{ page.category }}</div>
</div>

<div class="ctf-w">
{% capture mkd %}
{{ content }}
{% endcapture mkd %}
{{ mkd | markdownify }}
</div>

<div id="modal-wrapper"></div>
{% assign ctf_data = site.data.ctf_writeups[page.ctf] %}
{% for categ_data in ctf_data.categories %}
    {% if categ_data['name'] == page.category %}
<div id="flags-modal" class="categ-modal">
    <div class="categ-modal-content">
        <div class="btn-row">
            <div data-augmented-ui="br-clip both" class="aui-theme-btn white-text categ-title">{{ categ_data['name'] }}</div>
            <div data-augmented-ui="br-clip both" class="aui-theme-btn white-text s-close-btn" onclick="closeModal()">❌</div>
        </div>
        <div style="--aug-tl-inset1: 50%; margin-top: -2%" data-augmented-ui="tl-clip-x tr-clip both" class="aui-theme categ-card">
        {% for entry in categ_data['challenges'] %}
            <a class="writeup-lnk" href="{{ site.url }}{{ page.url }}/../{{entry['file']}}">
                <span class="white-text">▶ </span>{{ entry['name'] }}
            </a><br>
        {% endfor %}
        </div>
    </div>
</div>
    {% endif %}
{% endfor %}

<script>
    var wrapper = document.getElementById('modal-wrapper');
    var modal = document.getElementById('flags-modal');

    function openModal() {
        wrapper.style.display = 'block';
        wrapper.style.backdropFilter = 'blur(15px)';
        modal.style.display = 'flex';
        document.body.style.position = 'fixed';
    }

    function closeModal() {
        wrapper.style.display = 'none';
        wrapper.style.backdropFilter = 'none';
        modal.style.display = 'none';
        document.body.style.position = '';
    }

    window.onclick = function(event) {
        if (event.target == modal) {
            wrapper.style.display = 'none';
            wrapper.style.backdropFilter ='none';
            modal.style.display = 'none';
            document.body.style.position = '';
        }
    }
</script>